@font-face {
    src: url("Fonts/SourceSansPro-Regular.ttf");
    font-family: mainFont;
}

@font-face {
    src: url("Fonts/Poppins-ExtraBold.ttf");
    font-family: poppins;
}

body {
    font-family: mainFont;
    background-color: #0f0f0f;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
}

header p {
    color: #FFF;
    font-size: 30px;
    margin: 0;
    padding-left: 7%;
    padding-top: 40px;
    width: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 93%;
    margin: 0 0 30px 7%;
}

footer p {
    margin: 0 30px 0 0;
    color: #FFF;
    font-size: 15px;
}

footer .footerLink {
    color: #23a6d5;
    text-decoration: underline;
}

#waveDiv {
    clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
    position: absolute;
    height: 100%;
    width: 45%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#mainText {
    color: #FFF;
    font-size: 100px;
    margin: 0;
    font-family: poppins;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 7%;
}

#formDiv {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 350px;
    height: 390px;
    padding: 50px;
    color: rgb(160, 160, 160);
}

#formDiv form {
    font-family: mainFont;
}

#formDiv #loginText {
    margin: 0;
    font-size: 30px;
}

.inputStyle {
    color: #FFF;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    width: 90%;
    height: 10px;
    margin: 0 0 10px 0;
    padding: 5%;
    font-family: mainFont;
    font-size: 17px;
}

.loginButtonStyle {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #23d5ab;
    border: none;
    border-radius: 5px;
    font-family: mainFont;
    font-size: 15px;
    font-weight: bold;
}

.loginButtonStyle:hover {
    cursor: pointer;
}

.loginIssuesLink {
    color: #23a6d5;
    text-decoration: underline;
    width: 200px;
}

#separator {
    width: 100%;
    height: 1px;
    margin: 30px 0 5px 0;
    background-color: rgb(160, 160, 160);
}

.registerButtonStyle {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #23a6d5;
    border: none;
    border-radius: 5px;
    font-family: mainFont;
    font-size: 15px;
    font-weight: bold;
}

.registerButtonStyle:hover {
    cursor: pointer;
}